{% extends "bootstrap/base.html" %}

{% block title %}
Flask API Demo
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
<style>
  html,
  body {
    background: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }


  #layers {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }

  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    -webkit-animation-name: zoom;
    animation-name: zoom;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  .layer.layer-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .layer.layer-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  .layer.layer-4 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  .layer.layer-5 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }

  .star {
    width: 11px;
    height: 11px;
    display: inline-block;
    position: absolute;
    fill: #ffffff;
  }

  .star:nth-child(3n+3) {
    fill: #FEC777;
  }

  .star:nth-child(5n+5) {
    fill: #498FB3;
  }

  #starwars {
    font-family: 'Star Jedi', arial;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
  }

  @-webkit-keyframes zoom {
    0% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      opacity: 0;
    }

    90% {
      opacity: 1;
    }

    100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes zoom {
    0% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      opacity: 0;
    }

    90% {
      opacity: 1;
    }

    100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      opacity: 0;
    }
  }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Flask API Demo</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div id="starwars">Welcome to Joel's Flask Api!</div>
<div class="container">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:600,900">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,700,900">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="https://allfont.net/allfont.css?fonts=star-jedi" rel="stylesheet" type="text/css" />



  <div id="layers">

    <div class="layer layer-1"></div>
    <div class="layer layer-2"></div>
    <div class="layer layer-3"></div>
    <div class="layer layer-4"></div>
    <div class="layer layer-5"></div>
  </div>

  <script>
    (function ($) {
      $(document).ready(function () {

        $('.layer').each(function () {

          var $this = $(this),
            limit = 30,
            $star = [];

          while (limit) {

            $star = $('<span/>').addClass('star');
            $star.html('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M10.744,5.372C7.777,5.372,5.372,2.967,5.372,0c0,2.967-2.405,5.372-5.372,5.372c2.967,0,5.372,2.405,5.372,5.372 C5.372,7.777,7.777,5.372,10.744,5.372z"/></svg>');
            $star.css({
              left: randomInt(1, 100) + '%',
              top: randomInt(1, 100) + '%',
              transform: 'scale(' + randomNum(0, 1) + ')',
              opacity: randomNum(0.6, 1)
            });

            $this.append($star);
            limit--;
          }
        });

      });

      function randomInt(min, max) {
        return Math.floor((Math.random() * max) + min);
      }

      function randomNum(min, max) {
        return Math.max((Math.random() * max), min).toFixed(1);
      }
    })(jQuery);


  </script>


</div><!-- /.container -->
{% endblock %}